.header {
  display: flex;
  width: auto;
  border-bottom: solid;
  flex-flow: row;
}

header {
  font-family: Verdana;
  font-size: 14px;
  justify-content: flex-start;
}

header a {
  padding-top: 10px;
}

.mytimes {
  color: MediumAquamarine;
}

.header nav {
  justify-content: flex-end;
}

nav li {
padding: 5px 10px;
   justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
   justify-content: flex-end;
  }

.header nav a {
  Color: orange;
  }
  
  
