header {
  display: flex;
  width: 100%;
  position: fixed;
  border-bottom: solid;
  flex-direction: row;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  background-color: white;
  z-index: 999;
}

.mytimes {
  color: MediumAquamarine;
}

div.leftheader ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  border: solid;
}

div.leftheader li {
  padding-right: 10px;
}
  
/* nav li {
padding-right: 15px;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  margin-right: 30px;
  flex-flow: row wrap;
  }

header nav a {
  Color: black;
  }
  */

nav.rightheader{
  border: solid;
}

nav.rightheader a {
  color: black;
}

nav.rightheader span {
  flex-flow: row wrap;
  margin-right: 30px;
  color: black;
}
  
.maincontainer {
  display: flex;
  width: auto;
  justify-content: space-around;
  padding-top: 120px;
  border: solid;
  flex: 0 0 0;
}
  
.largecolumn {
  width: 630px;
  border: solid;
}
  
.mediumcolumn {
  width: 300px;
  border: solid;
}

.smallcolumn {
  width: 240px;
  border: solid;
}

  
