nav ul {
  list-style-type: none;
  display: flex;
  overflow: hidden;
  }
  
nav li {
  flex-direction: row;
  display: inline-block;
  
}

nav a {
  text-align: center;
  Color: black;
  }
  
  
